<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/materialize.min.css'/>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link rel='stylesheet' href='/stylesheets/regulations.css'/>
    <link rel="icon" href="/images/favicon.ico">
    <title><%=category%></title>
</head>
<body>
<header>
    <nav class="z-depth-0 purple darken-4">
        <div class="nav-wrapper">
            <ul class="left">
                <li class="">
                    <a href="/regulations">Назад</a>
                </li>
            </ul>
            <a
                href="/pdfFromHTMLString"
                style="margin-right: 15px"
                class="waves-effect waves-light right circle"
                target="_blank"
            >
                Скачать положение
            </a>
        </div>
    </nav>
</header>
<main class="container img-wrapper-background height-main">
    <div class="row">
        <div class="col s12">
            <h1 style="color: #9c27b0"><%=title%></h1>
            <p style="font-size: x-large; color: #212121">
                <%=description.description%> |
                <span class="date-text ">
                    <%=description.date%>
                </span>
            </p>
            <h4><%=category%></h4>
            <p><%=organizers%></p>
            <hr>
            <p><%=age%></p>
            <hr>
            <h5><%=ageCategory.title%></h5>
            <ul>
                <% for(let i = 0; ageCategory.description.length > i; i++) { %>
                <li><%=ageCategory.description[i]%></li>
                <% } %>
            </ul>
            <h5><%=nominations.title%></h5>
            <h6><%=nominations.name%></h6>
            <ul>
                <% for(let i = 0; nominations.description.length > i; i++) { %>
                <li><%=nominations.description[i]%></li>
                <% } %>
            </ul>
            <h5><%=criteria.title%></h5>
            <ul>
                <% for(let i = 0; criteria.description.length > i; i++) { %>
                <li><%=criteria.description[i]%></li>
                <% } %>
            </ul>
            <h5><%=terms.title%></h5>
            <ul>
                <% for(let i = 0; terms.description.length > i; i++) { %>
                <li><%=terms.description[i]%></li>
                <% } %>
            </ul>
            <h5><%=awards.title%></h5>
            <ul>
                <% for(let i = 0; awards.places.length > i; i++) { %>
                <li><%=awards.places[i]%></li>
                <% } %>
            </ul>
            <ul>
                <% for(let i = 0; awards.diplomas.length > i; i++) { %>
                <li><%=awards.diplomas[i]%></li>
                <% } %>
            </ul>
            <h5><%=finance.title%></h5>
            <p><%=finance.desc1%></p>
            <p><%=finance.desc2%></p>
            <ul>
                <% for(let i = 0; finance.fields.length > i; i++) { %>
                <li><%=finance.fields[i]%></li>
                <% } %>
            </ul>
            <h5><%=note.title%></h5>
            <p><b><%=note.description%></b></p>
            <h5><%=privileges.title%></h5>
            <p><%=privileges.desc1%></p>
            <p><%=privileges.desc2%></p>
            <ul>
                <% for(let i = 0; privileges.fields.length > i; i++) { %>
                <li><%=privileges.fields[i]%></li>
                <% } %>
            </ul>
            <h5><%=request.title%></h5>
            <ul>
                <% for(let i = 0; request.fields.length > i; i++) { %>
                <li><%=request.fields[i]%></li>
                <% } %>
            </ul>
            <h5><%=contacts.title%></h5>
            <ul>
                <% for(let i = 0; contacts.fields.length > i; i++) { %>
                <li><%=contacts.fields[i]%></li>
                <% } %>
            </ul>
        </div>
    </div>
</main>

<section class="button">
    <a
        href="/pdfFromHTMLString"
        style="background-color: #4a148c"
        class="waves-effect waves-light btn"
    >
        <%=button%>
    </a>
</section>

<%- include('../partials/footer.ejs') %>
<script src="/javascripts/materialize.js"></script>
<script src="/javascripts/common.js"></script>
</body>
</html>



