<footer class="page-footer purple darken-4">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text"><%=title.toUpperCase()%></h5>
                <ul style="line-height: 27px">
                    <% for(let i = 0; footer.length > i; i++) { %>
                        <% if(footer[i].show) { %>
                        <li>
                            <a class="grey-text
                             text-lighten-3"
                               href="<%=footer[i].url%>"
                            >
                                <%=footer[i].title%>
                            </a>
                        </li>
                        <% } %>
                    <% } %>
                </ul>
            </div>
            <div class="col l4 offset-l2 s12">
                <h5 class="white-text"><%= footer2.title %></h5>
                <ul style="line-height: 28px">
                    <% for(let i = 0; footer2.social.length > i; i++) { %>
                        <% if(footer2.social[i].show) { %>
                    <li>
                        <a style="display: flex" class="grey-text text-lighten-3" href="<%= footer2.social[i].url %>">
                            <span style="padding-right: 1.5px" class="material-icons">facebook</span>
                            <%= footer2.social[i].title %>
                        </a>
                    </li>
                        <% } %>
                    <% } %>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            © 2020 akunalex.dev@gmail.com
            <% if(isVisible) { %>

                    <span class="login-wrapper right"><a href="https://rsve.herokuapp.com/">Вход</a></span>

            <% } %>
        </div>
    </div>
</footer>
