<!doctype html>
<html lang="en">
<%- include('partials/head.ejs') %>
<body>
<%- include('partials/header.ejs') %>
<main class="container img-wrapper-background height-main">
    <div class="row">
        <div class="wrapper-for-form">
            <form
                class="col s12 request-form"
                action="/submit"
                method="post"
                enctype="multipart/form-data"
            >
                <h2 style="margin-top: 0;margin-bottom: 25px;color: #4a148c">Заявка</h2>
                <div style="margin-bottom: 0" class="row">
                    <div class="input-field col s12">
                        <input id="cntr" class="validate" list="country" name="country" type="text" required>
                        <span class="helper-text" data-error="Выберите страну" data-success="&#10004;"></span>
                        <label for="cntr" class="active">Країна</label>
                        <datalist id="country">
                            <% for(let i in countries) { %>
                            <option value="<%=countries[i]%>"></option>
                            <% } %>
                        </datalist>
                    </div>
                    <div class="input-field col s12">
                        <input required id="city" type="text" name="city" class="validate">
                        <span class="helper-text" data-error="Выберите город" data-success="&#10004;"></span>
                        <label for="city" class="active">Місто</label>
                    </div>
                    <div class="input-field col s12">
                        <input required id="name_organisation" type="text" name="name_organisation" class="validate">
                        <span class="helper-text" data-error="ім’я керівника або назва студіі" data-success="&#10004;"></span>
                        <label for="name_organisation" class="active">Керівник або студія (ім’я або назва)</label>
                    </div>
                    <div class="input-field col s12">
                        <input required id="pip" type="text" name="pip" class="validate">
                        <span class="helper-text" data-error="Введіть прізвище, ім’я, по батькові учасника (англійською мовою)" data-success="&#10004;"></span>
                        <label for="pip" class="active">Прізвище, ім’я, по батькові <b>учасника</b> (англійською мовою)</label>
                    </div>
                    <div class="input-select-genre input-field col s12">
<!--                        <input-->
<!--                            class="validate"-->
<!--                            list="genre"-->
<!--                            id="gen"-->
<!--                            name="genre"-->
<!--                            type="text"-->
<!--                            required-->
<!--                        >-->
                        <label for="gen" class="active">Жанр</label>
                        <select class="validate" id="gen" name="genre" required>
                            <option value="" disabled selected></option>
                            <option value="vocal">Вокал</option>
                            <option value="instrumental">Инструментал</option>
                            <option value="art">АРТ</option>
                            <option value="circus">Цирк</option>
                            <option value="dances">Танцы</option>
                            <option value="theater">Театр</option>
                        </select>
                        <span class="helper-text" data-error="Выберите жанр" data-success="&#10004;"></span>
                    </div>
                    <div class="input-field col s12">
                        <input
                            class="validate"
                            id="nom"
                            type="text"
                            list="nomination"
                            name="nomination"
                            required
                            autocomplete="off"
                        >
                        <span class="helper-text" data-error="Выберите номінацію" data-success="&#10004;"></span>
                        <label for="nom" class="active">Номінація</label>
                        <a
                            class="btn-floating btn-small waves-effect waves-light red"
                            id="clear-input"
                        >
                            <i class="material-icons">delete_forever</i>
                        </a>
                        <datalist id="nomination">
                            <!--To render nominations-->
                        </datalist>
                    </div>
                    <div class="input-field col s12">
                        <input id="ag" list="age" class="validate" type="text" name="age" required>
                        <span class="helper-text" data-error="Выберите вікову категорію" data-success="&#10004;"></span>
                        <label for="ag" class="active">Вікова категорія</label>
                        <datalist id="age">
                            <option value="3-6 років"></option>
                            <option value="7-9 років"></option>
                            <option value="10-12 років"></option>
                            <option value="13-16 років"></option>
                            <option value="17-25 років"></option>
                            <option value="26 років та більше"></option>
                            <option value="змішана вікова категорія"></option>
                        </datalist>
                    </div>

                    <div class="input-field col s12">
                        <input required id="name_performance" type="text" name="name_performance" class="validate">
                        <span class="helper-text" data-error="Введіть назву номеру" data-success="&#10004;"></span>
                        <label for="name_performance" class="active">Назва номеру</label>
                    </div>
                    <div class="input-field col s12">
                        <input pattern="[0-9]{7,16}" required id="tel" type="text" name="tel" class="validate">
                        <span class="helper-text" data-error="Введіть телефон без пробілів і спецсимволов. Тільки цифри" data-success="&#10004;"></span>
                        <label for="tel" class="active">Телефон без пробілів і спецсимволов. Тільки цифри</label>
                    </div>
                    <div class="input-field col s12">
                        <input required id="email" type="email" name="email" class="validate">
                        <span class="helper-text" data-error="Введіть електронну адресу" data-success="&#10004;"></span>
                        <label for="email" class="active">Електронна адреса</label>
                    </div>
                    <div class="input-field col s12">
                        <input required id="pip_getter" type="text" name="pip_getter" class="validate">
                        <span class="helper-text" data-error="Необхідно заповнити це поле" data-success="&#10004;"></span>
                        <label for="pip_getter" class="active">Ім'я пошти, номер отд. або індекс, ПІБ і телефон одержувача.</label>
                    </div>
                </div>
                <div class="raw art-block-images" style="display: none">
                    <div class="file-field input-field">
                        <div
                            style="background-color: #4a148c !important; width: 100%"
                            class="scale-transition btn waves-effect waves-light">
                            <span class="text-span">Фотографии для АРТ жанра. Максимум - 8 фотографії</span>
                            <input
                                type="file"
                                name="artimages"
                                class="validate"
                                accept="image/jpeg,image/png,image/jpg"
                                multiple
                                id="images-input-art"
                            >
                        </div>
                        <input required class="file-path" type="text" disabled hidden>
                        <div class="images-container">
                            <div class="row content-images-art">
                                <!--To render preview images-->
                            </div>
                        </div>
                        <span class="error-text-images-art">Максимально допустиме кількість файлів - 8</span>
                    </div>
                </div>
                <div class="raw">
                    <div style="margin-top: 5px" class="file-field input-field">
                        <div
                            style="background-color: #4a148c !important; width: 100%"
                            class="scale-transition btn waves-effect waves-light">
                            <span class="text-span">Фото учасника. Максимум - 3 фотографії</span>
                            <input
                                required
                                type="file"
                                name="image"
                                class="validate"
                                accept="image/jpeg,image/png,image/jpg"
                                multiple
                                id="images-input"
                            >
                        </div>
                            <input required class="file-path" type="text" disabled hidden>
                            <div class="images-container">
                                <div class="row content-images">
                                    <!--To render preview images-->
                                </div>
                            </div>
                        <span class="error-text-images">Максимально допустиме кількість файлів - 3</span>
                    </div>
                </div>
                <div class="raw">
                    <div class="file-field input-field">
                        <div
                                style="background-color: #4a148c !important; width: 100%"
                                class="scale-transition btn waves-effect waves-light"
                        >
                            <span class="text-span">Фотографія чека</span>
                            <input
                                    required
                                    type="file"
                                    name="invoice"
                                    class="validate"
                                    accept="image/jpeg,image/png,image/jpg"
                                    id="images-input-invoice"
                            >
                        </div>
                        <input required class="file-path" type="text" disabled hidden>
                        <div class="images-container">
                            <div class="row content-images-invoice">
                                <!--To render preview images-->
                            </div>
                        </div>
                        <span class="error-text-invoice">Фотографія чека обов'язкове. Одно фото.</span>
                    </div>
                     <span>Фотографія чека який підтверджує благодійний внесок.</span>
                </div>
                <div class="raw">
                    <div class="file-field input-field">
                        <div
                            style="background-color: #4a148c !important; width: 100%"
                            class="scale-transition btn waves-effect waves-light"
                        >
                            <span class="text-span">Добавити відео</span>
                            <input
                                id="video-file"
                                type="file"
                                name="video"
                                class="validate"
                                accept="video/quicktime,video/mp4,video/mpeg,video/webm"
                            >
                        </div>
                        <span class="error-text-video">Допустимый размер файла превышен.</span>

                        <div class="file-path-wrapper file-field input-field">
                            <input
                                placeholder="Ссылка на видео (на Ютубе, в соцсетях, Гугл диск и.т.п)"
                                id="txt"
                                class="file-path"
                                name="text"
                                type="text"
                            >
                        </div>
                        <span>
                            <b style="color: tomato;">ВНИМАНИЕ!</b>
                                Если ваш видеофайл больше 20 мб необходимо указать ссылку на скачивание.
                        </span>
                    </div>

                </div>
                <p class="center">
                    <label>
                        <input
                            id="check"
                            type="checkbox"
                            required
                        />
                        <span>Я согласен с обработкой персональных данных</span>
                    </label>
                </p>
                <div style="display: flex; justify-content: center;align-items: center;margin-bottom: 25px;">
                    <button
                        id="btn-submit-data"
                        style="margin-top: 30px"
                        class="btn waves-effect waves-light disabled"
                        type="submit"
                    >
                        Отправить
                        <i class="material-icons right">send</i>
                    </button>
                </div>
                <input id="doneMessage" type="hidden" data-done="<%=done%>">
            </form>
        </div>
    </div>
</main>
<%- include('partials/footer.ejs') %>
<script src="/javascripts/materialize.js" ></script>
<script src="/javascripts/common.js"></script>
</body>
</html>
