<!doctype html>
<html lang="en">
<%- include('partials/head.ejs') %>
<body>
<%- include('partials/header.ejs') %>
<main class="container img-wrapper-background height-main">
    <div class="row">
        <div class="wrapper-for-form">
            <form
                name="request_form"
                class="col s12 request-form"
                action="/submit"
                method="POST"
                enctype="multipart/form-data"
            >
                <h2 style="margin-top: 0;margin-bottom: 25px;color: #4a148c"><%=requestPage.titleRegulation%></h2>
                <div style="margin-bottom: 0" class="row">
                    <div class="input-field col s12">
                        <input id="cntr" class="validate" list="country" name="country" type="text" required>
                        <span class="helper-text" data-error="<%=requestPage.errorsMessage[0]%>" data-success="&#10004;"></span>
                        <label for="cntr" class="active"><%=requestPage.titles.country%></label>
                        <datalist id="country">
                            <% for(let i in requestPage.countries) { %>
                                <option value="<%=requestPage.countries[i]%>"></option>
                            <% } %>
                        </datalist>
                    </div>
                    <div class="input-field col s12">
                        <input required id="city" type="text" name="city" class="validate">
                        <span class="helper-text" data-error="<%=requestPage.errorsMessage[1]%>" data-success="&#10004;"></span>
                        <label for="city" class="active"><%=requestPage.titles.city%></label>
                    </div>
                    <div class="input-field col s12">
                        <input required id="name_organisation" type="text" name="name_organisation" class="validate">
                        <span class="helper-text" data-error="<%=requestPage.errorsMessage[2]%>" data-success="&#10004;"></span>
                        <label for="name_organisation" class="active"><%=requestPage.titles.boss%></label>
                    </div>
                    <div class="input-field col s12">
                        <input required id="pip" type="text" name="pip" class="validate">
                        <span class="helper-text" data-error="<%=requestPage.errorsMessage[3]%>" data-success="&#10004;"></span>
                        <label for="pip" class="active"><%=requestPage.titles.participant%></label>
                    </div>
                    <div class="input-select-genre input-field col s12">
                        <label for="gen" class="active"><%=requestPage.titles.genre%></label>
                        <select class="validate" id="gen" name="genre" required>
                            <option value="" disabled selected></option>
                            <% for(let item = 0; Object.keys(requestPage.genres).length > item; item++) { %>
                                <option value="<%=Object.keys(requestPage.genres)[item]%>"><%=requestPage.genres[Object.keys(requestPage.genres)[item]]%></option>
                            <% } %>
                        </select>
                        <span class="helper-text" data-error="<%=requestPage.errorsMessage[4]%>" data-success="&#10004;"></span>
                    </div>
                    <div class="input-field col s12">
                        <input
                            class="validate"
                            id="nom"
                            type="text"
                            list="nomination"
                            name="nomination"
                            required
                            autocomplete="off"
                        >
                        <span class="helper-text" data-error="<%=requestPage.errorsMessage[5]%>" data-success="&#10004;"></span>
                        <label for="nom" class="active"><%=requestPage.titles.nomination%></label>
                        <a
                            class="btn-floating btn-small waves-effect waves-light red"
                            id="clear-input"
                        >
                            <i class="material-icons">delete_forever</i>
                        </a>
                        <datalist id="nomination">
                            <!--To render nominations-->
                            <input id="contentDataNomination" value="<%-requestPage.nominationsData%>" type="text" hidden>
                        </datalist>
                    </div>
                    <div class="input-field col s12">
                        <input id="ag" list="age" class="validate" type="text" name="age" required>
                        <span class="helper-text" data-error="<%=requestPage.errorsMessage[6]%>" data-success="&#10004;"></span>
                        <label for="ag" class="active"><%=requestPage.titles.age%></label>
                        <datalist id="age">
                            <% for(let i in requestPage.ages) { %>
                            <option value="<%=requestPage.ages[i]%>"></option>
                            <% } %>
                        </datalist>
                    </div>

                    <div class="input-field col s12">
                        <input required id="name_performance" type="text" name="name_performance" class="validate">
                        <span class="helper-text" data-error="<%=requestPage.errorsMessage[7]%>" data-success="&#10004;"></span>
                        <label for="name_performance" class="active"><%=requestPage.titles.presentation%></label>
                    </div>
                    <div class="input-field col s12">
                        <input pattern="[0-9]{7,16}" required id="tel" type="tel" name="tel" class="validate">
                        <span class="helper-text" data-error="<%=requestPage.errorsMessage[8]%>" data-success="&#10004;"></span>
                        <label for="tel" class="active"><%=requestPage.titles.tel%></label>
                    </div>
                    <div class="input-field col s12">
                        <input required id="email" type="email" name="email" class="validate">
                        <span class="helper-text" data-error="<%=requestPage.errorsMessage[9]%>" data-success="&#10004;"></span>
                        <label for="email" class="active"><%=requestPage.titles.email%></label>
                    </div>
                    <div class="input-field col s12">
                        <input required id="pip_getter" type="text" name="pip_getter" class="validate">
                        <span class="helper-text" data-error="<%=requestPage.errorsMessage[10]%>" data-success="&#10004;"></span>
                        <label for="pip_getter" class="active"><%=requestPage.titles.index%></label>
                    </div>
                </div>
                <div class="raw art-block-images" style="display: none">
                    <div class="file-field input-field">
                        <div
                            style="background-color: #4a148c !important; width: 100%"
                            class="scale-transition btn waves-effect waves-light">
                            <span class="text-span">Фотографии для АРТ жанра. Максимум - 8 фотографії</span>
                            <input
                                type="file"
                                name="artimages"
                                class="validate"
                                accept="image/jpeg,image/png,image/jpg"
                                multiple
                                id="images-input-art"
                            >
                        </div>
                        <input required class="file-path" type="text" disabled hidden>
                        <div class="images-container">
                            <div class="row content-images-art">
                                <!--To render preview images-->
                            </div>
                        </div>
                        <span class="error-text-images-art"><%=requestPage.errorsMessage[11]%></span>
                    </div>
                </div>
                <div class="raw">
                    <div style="margin-top: 5px" class="file-field input-field">
                        <div
                            style="background-color: #4a148c !important; width: 100%"
                            class="scale-transition btn waves-effect waves-light">
                            <span class="text-span"><%=requestPage.titles.imagesParticipant%></span>
                            <input
                                required
                                type="file"
                                name="image"
                                class="validate"
                                accept="image/jpeg,image/png,image/jpg"
                                multiple
                                id="images-input"
                            >
                        </div>
                            <input required class="file-path" type="text" disabled hidden>
                            <div class="images-container">
                                <div class="row content-images">
                                    <!--To render preview images-->
                                </div>
                            </div>
                        <span class="error-text-images"><%=requestPage.errorsMessage[12]%></span>
                    </div>
                </div>
                <div class="raw">
                    <div class="file-field input-field">
                        <div
                            style="background-color: #4a148c !important; width: 100%"
                            class="scale-transition btn waves-effect waves-light"
                        >
                            <span class="text-span"><%=requestPage.titles.screenCheck%></span>
                            <input
                                required
                                type="file"
                                name="invoice"
                                class="validate"
                                accept="image/jpeg,image/png,image/jpg"
                                id="images-input-invoice"
                            >
                        </div>
                        <input required class="file-path" type="text" disabled hidden>
                        <div class="images-container">
                            <div class="row content-images-invoice">
                                <!--To render preview images-->
                            </div>
                        </div>
                        <span class="error-text-invoice"><%=requestPage.errorsMessage[13]%></span>
                    </div>
                     <span>
                         <i class="material-icons invoice_icon">error_outline</i>
                          <%=requestPage.titles.isCheck%>
                     </span>
                </div>
                <div class="raw">
                    <div class="file-field input-field">
                        <div
                            style="background-color: #4a148c !important; width: 100%"
                            class="scale-transition btn waves-effect waves-light"
                        >
                            <span class="text-span"><%=requestPage.titles.video%></span>
                            <input
                                id="video-file"
                                type="file"
                                name="video"
                                class="validate"
                                accept="video/quicktime,video/mp4,video/mpeg,video/webm"
                            >
                        </div>
                        <span class="error-text-video"><%=requestPage.errorsMessage[14]%></span>

                        <div class="file-path-wrapper file-field input-field">
                            <input
                                placeholder="<%=requestPage.titles.link%>"
                                id="txt"
                                class="file-path"
                                name="text"
                                type="text"
                                required
                            >
                            <i class="material-icons insert_link">insert_link</i>
                        </div>
                        <span>
                            <b style="color: tomato;"><%=requestPage.titles.note%></b>
                                <%=requestPage.titles.size%>
                            <span class="size_video_file deep-purple-text"></span>
                        </span>
                    </div>

                </div>
                <p class="center">
                    <label>
                        <input
                            id="check"
                            type="checkbox"
                            name="check_box"
                            required
                        />
                        <span><%=requestPage.titles.agree%></span>
                    </label>
                </p>
                <div style="display: flex; justify-content: center;align-items: center;margin-bottom: 25px;">
                    <button
                        id="btn-submit-data"
                        style="margin-top: 30px"
                        class="btn waves-effect waves-light disabled"
                        type="submit"
                    >
                        <%=requestPage.titles.send%>
                        <i class="material-icons right">send</i>
                    </button>
                </div>
                <input id="doneMessage" type="hidden" data-done="<%=done%>">
                <div id="modal2" class="modal">
                    <div class="modal-content">
                        <div class="progress">
                            <div class="indeterminate"></div>
                        </div>
                        <p>
                            <i class="material-icons">error_outline</i>
                            <%=requestPage.loadInfo.load%>
                        </p>
                        <p>
                            <i><%=requestPage.loadInfo.note%></i>
                        </p>
                    </div>
                </div>
                    <a style="display: flex; justify-content: center;align-items: center" href="#" id="reset-form" class="right deep-purple-text">
                        <i class="small material-icons">clear_all</i>
                        <%=requestPage.titles.reset%>
                    </a>
            </form>
        </div>
    </div>
</main>
<%- include('partials/footer.ejs') %>

<script src="/javascripts/materialize.js" ></script>
<script src="/javascripts/validate.js"></script>
<script src="/javascripts/common.js"></script>
</body>
</html>
